nav{
    width: 80%;
    height: 70px;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    background-color: rgb(1, 140, 168);
    display: inline-block;
    position: relative;
    width: 100%;
}
nav ul li a {
    display: block;
    color: black;
    font-size: 25px;
    height: 70px;
    line-height: 70px;
    color: white;
}
.first-menu{
    border-top-left-radius: 10px;
}
.last-menu{
    border-top-right-radius: 10px;
}

nav ul li:hover{
    background-color: rgb(3, 100, 119);
}

nav ul li ul {
    display: none;
    position: absolute;
    left: 0;
    width: 100%;

}

nav ul li ul li{
    position: relative;
    background-color: rgb(1, 140, 168);
}


nav>ul>li:hover ul{
    display: block;
}
 nav ul li ul:not(.second) li {
    transform: rotateX(90deg);
    animation-name: animatedRotate;
    animation-duration: 0.5s;
    animation-delay: calc(0.1s * var(--i));
    animation-fill-mode: forwards;
}

@keyframes animatedRotate {
    0%{ 
        transform: rotateX(180deg);
    }
    100%{
        
        transform: rotateX(360deg);
    }
}

nav ul li .second li {
    transform: translateY(-10px);
    opacity: 0;
    animation-name: animatedScale;
    animation-duration: 0.2s;
    animation-delay: calc(0.1s * var(--j));
    animation-fill-mode: forwards;
}

@keyframes animatedScale {
    0%{ opacity: 0;
        transform: translateY(-5px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

