*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content{
    width: 45%;
    height: 800px;
    background-color: gray;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 5%);
}

.content .object{
    width: 100px;
    height: 100px;
    background-color: blue;
    border-radius: 50%;
    animation: moveAnimated 4s;
    animation-iteration-count: infinite;
    position: absolute;
    top: 30px;
    left: 30px;
}

@keyframes moveAnimated{
    0%{
        top: 30px;
        left: 30px;
        background-color: blue;
        border-radius: 50%;
    }
    25%{
        top: 30px;
        left: calc(100% - 130px);
        background-color: red;
        border-radius: 0px;
    }
    50%{
        top: calc(100% - 130px);
        left: calc(100% - 130px);
        background-color: green;
        border-radius: 50%;
    }
    75%{
        top: calc(100% - 130px);
        left: 30px;
        background-color: yellow;
        border-radius: 0px;
    }
    100%{
        top: 30px;
        left: 30px;
        background-color: blue;
        border-radius: 50%;
    }
}
